# Dataset is stored locally due to large size
HECO_TEST.nc

# system and python file
.DS_Store
.*
src/
bin/

#python env
__pycache__/
bin/
lib/
CACHEDIR.TAG
etc/
share/
pyvenv.cfg
# python cache
heco/__pycache__/heco.cpython-311.pyc

